{% extends 'template_generico.html' %}
{% block conteudo %}
<div class="p-4">
      <h1 class="display-4 fw-bold text-black p-3 text-white text-center" style="margin-bottom: 50px">Histórico de pagamentos</h1>
<div>
<!-- Mensagem Flash -->
<div class="container h3 text-center"> 
{% with messages = get_flashed_messages() %}
    {% if messages %} 
        <ul id="messages" class="list-unstyled text-center">
        {% for message in messages %}
            {% if message %}
                <li class="alert alert-danger"><p>{{ message }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
</div>
<!-- fim Mensagem Flash -->
{% if filtros %}
<div class="container"> 
        <table class="table table-striped table-responsive table-bordered border-black" style="background-color: rgb(255, 255, 255);">
            <thead class="thead-default">
                <th>Nome</th>
                <th>Email</th>
                <th>Status da transação</th>
                <th>Status no sistema</th>
                <th>Valor</th>
                <th>Forma de pagamento</th>
                <th>Parcelas</th>
                <th>Data e hora</th>       
            </thead>
            <tbody>
                {% for filtro in filtros %}
                <tr>
                    <td>{{ filtro.nome }}</td>
                    <td>{{ filtro.email }}</td>
                    <td>{{ filtro.status}}</td>
                    <td>{{ filtro.status_no_sistema}}</td>
                    <td>{{ filtro.valor }}</td>
                    <td>{{ filtro.forma_pagamento }}</td>
                    <td>{{ filtro.parcelas }}</td>
                    <td>{{ filtro.data }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>

{% else %}
<div class="container">
    <table class="table table-striped table-responsive table-bordered border-black" style="background-color: rgb(255, 255, 255);">
        <thead class="thead-default">
            <th>Nome</th>
            <th>Email</th>
            <th>Status da transação</th>
            <th>Status no sistema</th>
            <th>Valor</th>
            <th>Forma de pagamento</th>
            <th>Parcelas</th>
            <th>Data e hora</th>       
        </thead>
        <tbody>
            {% for pagamento in pagamentos %}
            <tr>
                <td>{{ pagamento.nome }}</td>
                <td>{{ pagamento.email }}</td>
                <td>{{ pagamento.status}}</td>
                <td>{{ pagamento.status_no_sistema}}</td>
                <td>{{ pagamento.valor }}</td>
                <td>{{ pagamento.forma_pagamento }}</td>
                <td>{{ pagamento.parcelas }}</td>
                <td>{{ pagamento.data }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    
{% endif %}
{% endblock %}
