<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Web service</title>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body class="bd-masthead mb-3" style="background-color:black">
<!-- Header -->
<header class="">
    <div class="p-1 text-center bg-white shadow">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link disabled">Informoções</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-danger" href="#">Logout</a>
                  </li>
                  <li class="nav-item ms-3">
                  </li>
                </ul>
              </div>
                <!-- início input busca email -->
                <div class="col my-auto">
                    <form class="d-flex" method='POST' action='/filtro-por-email'>
                        <input class="form-control me-2" type="search" id="email" name="email" placeholder="Digite o email" aria-label="Search">
                        <button class="btn btn-primary" type="submit">Buscar</button>
                    </form>
                </div>
                <!-- fim input busca email -->  
            </div>
          </nav>
    </div>
</header>
<!-- fim Header -->

{% block conteudo %} 
{% endblock %}


</body>
</html>